<div class="container">
  <section class="hero">
    <div class="hero-left">
      <div class="hero__pie">
      </div>
    </div>
    <div class="hero__right">
      <h1>
        Excepteur sint occaecat <br>cupidatat non proident.
      </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <div class="hero__actions">
        <button class="button button--primary">More</button>
        <button class="button button--secondary">Let's try</button>
      </div>
    </div>
  </section>
</div>
<footer>
  <div class="footer__left-col">
    <nav>
      <ul class="footer__menu">
        <li>
          <a href="#">
					About us</a>
        </li>
        <li>
          <a href="#">
					Contact </a>
        </li>
        <li>
          <a href="#">
					Terms & Conditions</a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="footer__menu">
        <li><a href="#"><i class="fa fa-facebook-f"></i> Facebook</a> </li>
        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a> </li>
        <li><a href="#"><i class="fa fa-instagram"></i> Instagram </a></li>
      </ul>
    </nav>
  </div>
  <div class="footer__info">
    497 Evergreen Rd. Roseville, CA 95673 <br>+44 345 678 903 <br>adobexd@mail.com
  </div>
</footer>