<div class="container">
  <header>
    <h1>Long&Big Title</h1>
    <h3>
      Excepteur sint occaecat cupidatat non proident, sunt in <br /> culpa qui officia deserunt
    </h3>
  </header>
  <div class="comments">
    <article class="comment">
      <i class="fas fa-user"></i>
      <div class="comment__header">
        <h4 class="comment__title">
          Name Surname
        </h4>
        <i>1h ago</i>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		</article>
    <article class="comment">
      <i class="fas fa-user"></i>
      <div class="comment__header">
        <h4 class="comment__title">
          Name Surname
        </h4>
        <i>1h ago</i>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		</article>
    <article class="comment">
      <i class="fas fa-user"></i>
      <div class="comment__header">
        <h4 class="comment__title">
          Name Surname
        </h4>
        <i>1h ago</i>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		</article>
    <article class="comment">
      <i class="fas fa-user"></i>
      <div class="comment__header">
        <h4 class="comment__title">
          Name Surname
        </h4>
        <i>1h ago</i>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		</article>
    <article class="comment">
      <i class="fas fa-user"></i>
      <div class="comment__header">
        <h4 class="comment__title">
          Name Surname
        </h4>
        <i>1h ago</i>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		</article>
    <article class="comment">
      <i class="fas fa-user"></i>
      <div class="comment__header">
        <h4 class="comment__title">
          Name Surname
        </h4>
        <i>1h ago</i>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </article>



  </div>
</div>