<div class="container">
  <header>
    <h1>Big Title</h1>
    <h3>
      Excepteur sint occaecat cupidatat non proident, sunt in <br />
      culpa qui officia deserunt
    </h3>
  </header>
  <div class="boxes">
    <div class="box">
      <div class="box__circle box--blue"></div>
      <div class="box__titles">
        <h5 class="box__title">30 day trial</h5>
        <h6 class="box__subtitle">1 account</h6>
      </div>
      <p class="box__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut ero labore et dolore.
      </p>
      <button class="button--primary">Free</button>
    </div>
    <div class="box">
      <div class="box__circle box--gray"></div>
      <div class="box__titles">
        <h5 class="box__title">30 day trial</h5>
        <h6 class="box__subtitle">1 account</h6>
      </div>
      <p class="box__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut ero labore et dolore.
      </p>
      <button class="button--primary">Free</button>
    </div>
    <div class="box">
      <div class="box__circle box--blue"></div>
      <div class="box__titles">
        <h5 class="box__title">30 day trial</h5>
        <h6 class="box__subtitle">1 account</h6>
      </div>
      <p class="box__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut ero labore et dolore.
      </p>
      <button class="button--primary">Free</button>
    </div>
    <div class="box">
      <div class="box__circle box--gray"></div>
      <div class="box__titles">
        <h5 class="box__title">30 day trial</h5>
        <h6 class="box__subtitle">1 account</h6>
      </div>
      <p class="box__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut ero labore et dolore.
      </p>
      <button class="button--primary">Free</button>
    </div>
  </div>
</div>
